@{
    ViewData["Title"] = "Vista Admin";
    Layout = "_LayoutAdmin";
}


<!-- Contenido de la Página -->
<div class="container mt-5">

    <div class="row justify-content-center">
        <div class="col-md-8 mb-4 d-flex align-items-center">
            <img src="https://cdn-icons-png.flaticon.com/512/2051/2051943.png" class="img-fluid" alt="Gestionar Clientes" style="width: 100%; max-width: 400px;">
            <div class="text-center ms-4">
                <h5 class="card-title" style="font-size: 1.5rem; color: #8B4513;">Gestionar Clientes</h5>
                <p class="card-text" style="font-size: 1.2rem;">Aquí puedes listar, eliminar y modificar los clientes existentes.</p>
                <a href="@Url.Action("ListaClientes", "Admin")" class="btn" style="background-color: #8B4513; color: white; mt-2">Ir a Clientes</a>

            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-8 mb-4 d-flex align-items-center flex-row-reverse">
            <img src="https://cdn-icons-png.flaticon.com/512/757/757576.png" class="img-fluid" alt="Gestionar Productos" style="width: 100%; max-width: 400px;">
            <div class="text-center me-4">
                <h5 class="card-title" style="font-size: 1.5rem; color: #8B4513;">Gestionar Contactos</h5>
                <p class="card-text" style="font-size: 1.2rem;">Aquí puedes listar y eliminar los contactos de los usuarios.</p>
                 <a href="@Url.Action("ListarContacto", "Admin")" class="btn" style="background-color: #8B4513; color: white; mt-2">Ir a Contactos</a>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-8 mb-4 d-flex align-items-center">
            <img src="https://cdn-icons-png.freepik.com/512/7626/7626835.png" class="img-fluid" alt="Gestionar Compras" style="width: 100%; max-width: 400px;">
            <div class="text-center ms-4">
                <h5 class="card-title" style="font-size: 1.5rem; color: #8B4513;">Gestionar Compras</h5>
                <p class="card-text" style="font-size: 1.2rem;">Aquí puedes listar y gestionar las compras realizadas por los clientes.</p>
                 <a href="@Url.Action("ListaCompras", "Admin")" class="btn" style="background-color: #8B4513; color: white; mt-2">Ir a Compras</a>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-8 mb-4 d-flex align-items-center flex-row-reverse">
            <img src="https://cdn-icons-png.flaticon.com/512/10608/10608872.png" class="img-fluid" alt="Agregar Productos" style="width: 100%; max-width: 400px;">
            <div class="text-center me-4">
                <h5 class="card-title" style="font-size: 1.5rem; color: #8B4513;">Agregar Productos</h5>
                <p class="card-text" style="font-size: 1.2rem;">Aquí puedes agregar nuevos productos al inventario.</p>
                <a href="@Url.Action("ListaProductos", "Admin")" class="btn" style="background-color: #8B4513; color: white; mt-2">Ir a Productos</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
}
