@{
  ViewData["Title"] = "Home Page";
}
<style>
  /* Estilo general */
  body {
    font-family: 'Arial', sans-serif;
  }

  a {
  text-decoration: none;
  }

  .container {
    text-align: center;
  }

  h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #9b978d;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 40px;
  }

  /* Estilo del carrusel */
  .carousel-item img {
    border-radius: 15px;
    box-shadow: 0 8px 30px #cac3b0;
    max-height: 450px;
    object-fit: cover;
    width: 100%;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: #a59f8f;
    border-radius: 50%;
  }

  .carousel-control-prev-icon:hover,
  .carousel-control-next-icon:hover {
    background-color: #a7a192;
  }

  /* Estilo de las tarjetas */
  .card {
    margin: 15px auto;
    border: 2px solid #cac3b0;
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 10px;
    overflow: hidden;
    max-width: 90%;
  }

  .card:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 25px rgba(0, 123, 255, 0.5);
  }

  .card-img-top {
    border-bottom: 2px solid #cac3b0;
    height: 250px;
    object-fit: cover;
  }

  .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #cac3b0;
  }

  /* Ajuste del layout */
  .row {
    justify-content: center;
  }

  .col-md-4 {
    flex: 0 0 30%;
    max-width: 30%;
  }

  /* Botón de navegación del carrusel */
  .carousel-control-prev,
  .carousel-control-next {
    width: 5%;
  }

  /* Estilo de las imágenes una sobre otra */
  .stacked-images img {
    border-radius: 15px;
    box-shadow: 0 8px 30px #cac3b0;
    max-width: 100%;
    margin-bottom: 20px;
  }
</style>

<div class="container mt-5">
  <!-- Carrusel -->
  <div id="carouselExample" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/xdeco-dc64f.appspot.com/o/Inicio%2Fini_1.png?alt=media&token=9e0c7f16-5489-4907-8752-7c45bfd21e15"
          class="d-block" alt="Imagen del carrusel 1" />
      </div>
      <div class="carousel-item">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/xdeco-dc64f.appspot.com/o/Inicio%2Fini_3.png?alt=media&token=8a64968a-8908-409b-8916-bfa883131f96"
          class="d-block" alt="Imagen del carrusel 2" />
      </div>
      <div class="carousel-item">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/xdeco-dc64f.appspot.com/o/Inicio%2Fini_2.png?alt=media&token=f64c8386-9a72-4898-a2d4-98f0ac0782d0"
          class="d-block" alt="Imagen del carrusel 3" />
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExample" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Siguiente</span>
    </a>
  </div>

  <h2 class="mt-4">Categoría</h2>
  <p>
    ¡Optimiza tu hogar con estas ideas clave! En la sala, usa muebles modulares y luz natural;
    en el dormitorio, aprovecha soluciones de almacenamiento y tonos suaves para descansar;
    y en el comedor, elige mesas adaptables e iluminación focal. Cada espacio se transformará,
    combinando funcionalidad y estilo para mejorar tu día a día.
  </p>

 <div class="row">
    <div class="col-md-4">
      <div class="card">
        <a href="/Catalogo?category=sala&orderBy=">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/xdeco-dc64f.appspot.com/o/Inicio%2Fsala_inicio.png?alt=media&token=233f486d-243b-4b68-b08a-69396b2f5fd9"
            class="card-img-top" alt="Sala" />
          <div class="card-body">
            <h5 class="card-title">Sala</h5>
          </div>
      </div></a>
    </div>
    <div class="col-md-4">
      <div class="card">
        <a href="/Catalogo?category=dormitorio&orderBy=">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/xdeco-dc64f.appspot.com/o/Inicio%2Fdormitorio_inicio.jpg?alt=media&token=3f5981fe-39a8-4547-8f5b-b55ccfea5c3e"
            class="card-img-top" alt="Dormitorio" />
          <div class="card-body">
            <h5 class="card-title">Dormitorio</h5>
          </div>
      </div></a>
    </div>
    <div class="col-md-4">
      <div class="card">
        <a href="/Catalogo?category=comedor&orderBy=">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/xdeco-dc64f.appspot.com/o/Inicio%2Fcomedor_inicio.png?alt=media&token=b5278584-eca4-4e8c-81f2-213da69eae8f"
            class="card-img-top" alt="Comedor" />
          <div class="card-body">
            <h5 class="card-title">Comedor</h5>
          </div>
      </div></a>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
